 AVIATION RISK ANALYSIS

INTRODUCTION
The company wants to start working with airplanes but needs to know which ones are the safest.  

In this project, I will look at accident data from 1962â€“2023.  
The goal is to find the lowest-risk aircraft and give 3 clear recommendations to help the business decide which planes to buy.

BUSINESS UNDERSTANDING

WHO'S THIS FOR?  
The Head of the Aviation Division.  

WHAT DOES THE BUSINESS NEED? 
They want to know which aircraft are safest to buy.  

Key Questions:  
1. Which aircraft types have the fewest accidents?  
2. How have accidents changed over time?  
3. Are private or commercial aircraft safer?

DATA UNDERSTANDING

The dataset comes from the National Transportation Safety Board (NTSB).  
It covers aviation accidents from 1962 to 2023.  

WHAT WILL I DO HERE:
- Load the dataset into Python.  
- Look at the first few rows to see what it looks like.  
- Check the number of rows, columns, and missing values.  
- Find the most important columns for our analysis (like aircraft type, purpose, fatalities, and damage).

LOAD DATASET AND INSPECT AND UNDERSTAND THE DATA
Here we will load the dataset into a DataFrame,  
look at the first rows, and check the shape and basic info.

In [7]:
import pandas as pd

# load the dataset and assign it to tb 
tb = pd.read_csv('aviation-accident-data-2023-05-16.csv')

# print the first 5 rows of the aviation dataset 
tb.head()

,date,type,registration,operator,fatalities,location,country,cat,year
0,date unk.,Antonov An-12B,T-1206,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
1,date unk.,Antonov An-12B,T-1204,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
2,date unk.,Antonov An-12B,T-1201,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
3,date unk.,Antonov An-12BK,NaN,Soviet AF,NaN,Tiksi Airport (IKS),Russia,A1,unknown
4,date unk.,Antonov An-12BP,CCCP-11815,Soviet AF,0,Massawa Airport ...,Eritrea,A1,unknown

In [8]:
# let's check the shape of the dataset (rows,columns)
tb.shape
# we can confirm that we have 23967 rows and 9 columns in the  aviation dataset

(23967, 9)

In [9]:
# let's check the data types and column names
tb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23967 entries, 0 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23967 non-null  object
 1   type          23967 non-null  object
 2   registration  22419 non-null  object
 3   operator      23963 non-null  object
 4   fatalities    20029 non-null  object
 5   location      23019 non-null  object
 6   country       23967 non-null  object
 7   cat           23967 non-null  object
 8   year          23967 non-null  object
dtypes: object(9)
memory usage: 1.6+ MB

In [ ]:
# we can confirm that we have 9 colums with 23967 rows but some columns have missing values or duplicate values thus leading to the uneven number in some columns